<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Text:</b>
  <%= @article.text %>
</p>

<p>
  <b>Genre:</b>
  <%= @article.genre %>
</p>

<p>
  <b>Url:</b>
  <%#= link_to @article.url, @article.url, {:target => "_blank"}　%>
  <%#= link_to @article.url, @article.url %>
  <%= link_to @article.url, @article.url, {:target => "_blank"} %>
</p>

<p>
  <b>Related:</b>
  <%= @article.related %>
</p>

<p>
  <b>Memo:</b>
  	<%#= @article.memo %>
  	<br />
  	<% @memos.each_with_index do |memo, i| %>
  		&lt;Memo <%= i + 1 %>><br />
  		<%# if @memo != nil %>
  		<% if memo != nil %>
<!-- 	  		Id => <%#= @memo.id %><br /> -->
<!--   			Text => <%#= @memo.text %><br /> -->
<!--   			Id => <%#= memo.id %><br /> -->
<!--   			Text => <%#= memo.text %><br /> -->
  			<%= memo.text %><br />
<!--   			(<%#= link_to "Edit", edit_memo_path %>)<br /> -->
  			(<%= link_to "Edit", :controller => "memos", :action => "edit", :id => memo.id %>)<br />
  		<% else %>
  			Memo => nil<br />
  		<% end %>
  		
  		---------------------------------<br />
  	<% end -%>
  	<%#= @memos.length %>
</p>

<p>
  <b>Created at:</b>
  <%= @article.created_at %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back to list', articles_path %> &nbsp;| &nbsp;
<%= link_to 'Destroy', @article, confirm: 'Are you sure?', method: :delete %>

<hr />
	<%#= link_to 'New Memo', new_memo_path, :article_id => @article.id %>
	<%= link_to 'New Memo', :controller => "memos", :action => "new", :article_id => @article.id %>
<hr />